
.text-field, .password-field {
    -fx-background-color: #dadae6;
    -fx-background-insets: 0, 1.5;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;

    -fx-text-fill: #0c0c0c;
    -fx-prompt-text-fill: rgba(131, 135, 149, 0.97);
    -fx-font-size: 14px;
}

.text-field:hover, .password-field:hover {
    -fx-border-radius: 10px;
    -fx-background-color: #eceff4;
    -fx-effect: dropshadow(gaussian, rgba(0, 200, 255, 0.34), 8, 0.1, 0, 0);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: transparent, linear-gradient(from 0% 0% to 100% 100%, #3a89ff, #00eaff);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: #e2e7ec;
}

.button {
    -fx-background-color: linear-gradient(to left bottom, #66c4ea, #3e65b8);
    -fx-font-weight: bold;
    -fx-background-radius: 14px;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: linear-gradient(to left bottom, #84cee6, #567cc8);
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: white;
    -fx-text-fill: #111112;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to left bottom, #66c4ea, #3e65b8);;
    -fx-border-radius: 14px;
    -fx-effect: dropshadow(gaussian, rgba(66, 216, 255, 0.57), 15, 0.15, 0, 0);
}

.check-box {
    -fx-text-fill: #212844;
    -fx-font-size: 14px;
    -fx-padding: 4 0 4 0;
}

.check-box .box {
    -fx-background-color: #eef5f8;
    -fx-border-color: #557cd3;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-width: 1.5;
    -fx-cursor: hand;
}

.check-box:hover .box {
    -fx-background-color: #f0f0ff;
    -fx-border-color: #a7d6ea;
}

.check-box:selected .mark {
    -fx-background-color: white;
    -fx-shape: "M3 7 L6 10 L13 3 L15 5 L6 14 L1 9 Z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.check-box:selected .box {
    -fx-border-color: transparent;
    -fx-background-color: #2573cd;
}