.label {
    -fx-text-fill: black;
}


.button {
    -fx-background-color: #e8eff7;
    -fx-text-fill: #11181e;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #84a2b6;
}

.button:hover {
    -fx-background-color: #dbe7f2;
}

.button:pressed {
    -fx-background-color: #ccd9e8;
}

#paneTop {

    -fx-background-color:
            rgba(79, 139, 234, 0.3),
            linear-gradient(to bottom right,
            rgba(10, 71, 188, 0.2),
            rgba(140, 228, 244, 0.3)

            );

    -fx-background-insets: 0, 0;
    -fx-background-radius: 8;
    -fx-border-color: rgba(178, 253, 244, 0.61);
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 3);

    -fx-text-fill: white;
}

#paneTop .label{
    -fx-text-fill: white;
}

.shwPane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6,0,-2,2);

}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #8a8d95;
    -fx-border-radius: 4px;
}

.table-view .column-header{
    -fx-background-color: linear-gradient(to bottom, #7a9dc6, #5a73b8);
    -fx-border-color: #d9e5ef;
    -fx-border-width: 0 0 0 1;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: #e3e7f1;
}

.table-row-cell:selected, .table-row-cell:selected:focused{
    -fx-background-color: #0096C9;
    -fx-text-fill: white;
}

.table-row-cell:selected .text,
.table-row-cell:selected:focused .text {
    -fx-fill: white;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #8a8d95;
    -fx-padding: 0;
}

.combo-box:hover {
    -fx-background-color: #e7e9ef;
}

.combo-box:focused {
    -fx-border-color: #4a84cd;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 1);
}

.combo-box .text-field {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 1 0 0;
}

.combo-box .list-cell {
    -fx-text-fill: #11181e;
    -fx-font-size: 14px;
    -fx-padding: 4;
}

.combo-box-base {
    -fx-background-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: #bcc8ea;
    -fx-background-radius: 4;
    -fx-padding: 0 6 0 6;
}

.combo-box .arrow {
    -fx-background-color: #444;
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #4a84cd;
    -fx-border-radius: 4;
}

.combo-box .list-cell:hover {
    -fx-background-color: #a5c2dc;
}
.combo-box .list-view .scroll-bar:vertical, .table-view .scroll-bar {
    -fx-background-color: #d9ddf4;
    -fx-pref-width: 12px;
}

.combo-box .list-view .scroll-bar:vertical .thumb, .table-view .scroll-bar .thumb {
    -fx-background-color: linear-gradient(to bottom, #80c1d8, #5a73b8);
    -fx-background-radius: 0px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #8a8d95;
    -fx-border-width: 1px;
    -fx-text-fill: #0b0f13;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 13px;
}

.text-field:hover {
    -fx-border-color: #9ab3c8;
}

.text-field:focused {
    -fx-border-color: #4a84cd;
    -fx-background-color: #f9fbfe;
    -fx-effect: dropshadow(gaussian, rgba(43, 127, 248, 0.6), 6, 0.4, 0, 0);
}

.text-field:focused .text-input,
.text-field .text-input{
    -fx-prompt-text-fill: #718591;
}

#btnImprimir:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(26, 26, 28, 0.27), 15, 0.2, 0, 0);
}

#btnBuscar:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(26, 26, 28, 0.27), 15, 0.4, 0, 0);
}